<div class="landing-page">

  <h1 class="landing-name">Chase Terzian</h1>

  <div class="landing-links">

    <hr id="landing-hr-1" />

    <button>
      <i class="fa fa-github" aria-hidden="true"></i>
      <a href="https://github.com/chaseterzian">Github</a>
    </button>
    <button>
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      <a href="https://www.linkedin.com/in/chaseterzian">linkedin</a>
    </button>
    <button>
      <i class="fa fa-clone" aria-hidden="true"></i>
      <a href="/resume">Resume</a>
    </button>

    <hr id="landing-hr-2" />

    <button>
      <i class="fa fa-code" aria-hidden="true"></i>
      <a href="/code">Code</a>
    </button>
    <button>
      <i class="fa fa-music" aria-hidden="true"></i>
      <a href="/music">Music</a>
    </button>
    <button>
      <i class="fa fa-film" aria-hidden="true"></i>
      <a href="/media">Media</a>
    </button>
    <button>
      <i class="fa fa-address-card-o" aria-hidden="true"></i>
      <a href="/contact">Contact</a>
    </button>
  </div>


    <div class="project-preload">
      <iframe class="preloads" src="https://chase-resume.herokuapp.com/" width="1px" height="1px"></iframe>
      <iframe class="preloads" src="https://gearbox-11beta.herokuapp.com" width="1px" height="1px"></iframe>
      <iframe class="preloads" src="https://whiteboard-rails.herokuapp.com" width="1px" height="1px"></iframe>
      <iframe class="preloads" src="https://the-projects-rails.herokuapp.com" width="1px" height="1px"></iframe>
    </div>


</div>
