<div class="landing-page">

  <h1 class="landing-name">Chase Terzian</h1>

  <div class="landing-links">

    <hr id="landing-hr-1" />

    <a href="https://github.com/chaseterzian">
      <button>
        <i class="fa fa-github" aria-hidden="true"></i>
        <spam>Github</spam>
      </button>
    </a>

    <a href="https://www.linkedin.com/in/chaseterzian">
      <button>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <spam>Linkedin</spam>
      </button>
    </a>

    <a href="/resume">
      <button>
        <i class="fa fa-clone" aria-hidden="true"></i>
        <spam>Resume</spam>
      </button>
    </a>

    <hr id="landing-hr-2" />

    <a href="/code">
      <button>
        <i class="fa fa-code" aria-hidden="true"></i>
        <span>Code</span>
      </button>
    </a>

    <a href="/music">
      <button>
        <i class="fa fa-music" aria-hidden="true"></i>
        <spam>Music</spam>
      </button>
    </a>

    <a href="/media">
      <button>
        <i class="fa fa-film" aria-hidden="true"></i>
        <spam>Media</spam>
      </button>
    </a>

    <a href="/contact">
      <button>
        <i class="fa fa-address-card-o" aria-hidden="true"></i>
        <spam>Contact</spam>
      </button>
    </a>
  </div>


  <div class="project-preload">
    <iframe class="preloads" src="https://chase-resume.herokuapp.com/" width="1px" height="1px"></iframe>
    <iframe class="preloads" src="https://gearbox-11beta.herokuapp.com" width="1px" height="1px"></iframe>
    <iframe class="preloads" src="https://whiteboard-rails.herokuapp.com" width="1px" height="1px"></iframe>
    <iframe class="preloads" src="https://the-projects-rails.herokuapp.com" width="1px" height="1px"></iframe>
  </div>


</div>
