  <div class="landing-page">
  	<div class="container">
  				<h1>Chase Terzian</h1>

  				<hr />

  						<button><a href="https://github.com/chaseterzian">Github</a></button>
  						<button><a href="https://www.linkedin.com/in/chaseterzian">linkedin</a></button>
  						<button><a href="/resume">Resume</a></button>

  				<hr />

  						<button><a href="/code">Code</a></button>
  						<button><a href="/music">Music</a></button>
  						<button><a href="/media">Media</a></button>
  						<button><a href="/contact">Contact</a></button>

  				<iframe class="preloads" src="https://chase-resume.herokuapp.com/" width="1px" height="1px"></iframe>
  				<iframe class="preloads" src="https://gearbox-11beta.herokuapp.com" width="1px" height="1px"></iframe>
  				<iframe class="preloads" src="https://whiteboard-rails.herokuapp.com" width="1px" height="1px"></iframe>
  				<iframe class="preloads" src="https://the-projects-rails.herokuapp.com" width="1px" height="1px"></iframe>

  	</div>
  </div>
