<div class="col12">
    <img src="../img/KBSepia2.jpg" width="100%"></img>
</div>

<h1>Resume</h1>

<h4>
    <a href="https://www.dropbox.com/s/0a9a28h5czm60b4/ResumeV7p.pdf?dl=0">PDF</a>
</h4>

<div class='container'>
  <hr class="section-heading-spacer2">
  <img src="../img/WebRes.jpg" width="100%"></img>
</div>



