<div class='container'>

    <h1>Media - Under Construction</h1>

    <hr />

    <h2>"Heist" Promo Video</h2>
    <p>Promotional video for "Heist" (album) - written and released by<a href="https://www.springdalequartet.net/"> Springdale Quartet</a></p>

    <h6>Filmed, Created, Edited by Chase Terzian</h6>
    <h6>Featuring "Heist" (song), written by Chase Terzian</h6>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/lA_feQSgApY" frameborder="0" allowfullscreen />

    <hr />

    <h2>Springdale Quartet - Live at Evergroove Studio</h2>
    <p>Live performance at Evergroove Studio - Evergreen, Colorado</p>
    
    <h6>Filmed by Evergroove Studio</h6>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/xg3L2HrC1mQ" frameborder="0" allowfullscreen />

    <hr />

    <h2>Springdale Quartet - Live at Snowball Music Festival</h2>
    <p>Promotional video from Snowball Music Festival - Vail, Colorado</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/Qj_-HGQARCc" frameborder="0" allowfullscreen />

</div>

