<div class="col12">
    <img src="../img/KBSepia2.jpg" width="100%"></img>
</div>

<div class="col-md-12" />
<div class="padtop30" />
<div class='container' />
<h1>Media - Under Construction</h1>

<div class="container padtop50">
    <hr class="section-heading-spacer2">
    <div class="clearfix"></div>

    <h2 class="section-heading white">"Heist" Promo Video</h2>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="lead white">Promotional video for "Heist" (album) - written and released by<a href="https://www.springdalequartet.net/"> Springdale Quartet</a></div>
        <h6>Filmed, Created, Edited by Chase Terzian</h6>
        <h6>Featuring "Heist" (song), written by Chase Terzian</h6>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lA_feQSgApY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-1"></div>
</div>
<div class='space50'></div>

<div class="container padtop50">
    <hr class="section-heading-spacer2">
    <div class="clearfix"></div>

    <h2 class="section-heading white">Springdale Quartet - Live at Evergroove Studio</h2>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="lead white">Live performance at Evergroove Studio - Evergreen, Colorado</div>
        <h6>Filmed by Evergroove Studio</h6>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xg3L2HrC1mQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-1"></div>
</div>
<div class='space50'></div>

<div class="container padtop50">
    <hr class="section-heading-spacer2">
    <div class="clearfix"></div>

    <h2 class="section-heading white">Springdale Quartet - Live at Snowball Music Festival</h2>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="lead white">Promotional video from Snowball Music Festival - Vail, Colorado</div>
        <!-- <h6>Filmed by Evergroove Studio</h6> -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Qj_-HGQARCc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-1"></div>
</div>
<div class='space50'></div>


