<div class="container">

    <h1>Code Projects</h1>

    <h4><a href="/gearbox">Gearbox <</a></h4>
    <h4><a href="/whiteboard">The Whiteboard</a></h4>
    <h4><a href="/theprojects">The Projects</a></h4>
    <h4><a href="https://github.com/chaseterzian/">More</a></h4>

    <hr />

    <a href="http://gearbox-11beta.herokuapp.com/">Gearbox:</a></h2>

    <p>Use your smartphone as a blackbox for any vehicle.  Wheather you're looking to improve your racing skills, test the quality of a roadway, or anything in-between, <a href="http://gearbox-11beta.herokuapp.com/">Gearbox</a> is a fun and accurate way to analyze your vehicles every move.  View and manipulate the data in a number of useful ways, customize and dynamically print reports of the behavior of your vehicle, even upload a video for reference.</p>

    <p>Data options include location, time, speed, orientation, noise level, light sensor, XYZ accelerometer, and much more. </p>

    <p>Want to skip the complicated stuff and go strait for a demo? Once you enter the site, you will see a button on the left that says "Demo All Data".  This will allow you to see the program run with a preloaded set of data without having to enter setup parameters yourself.</p>
    
    <img src="img/Gearbox-Testing.jpg" title="" alt="" />
    

</div>


