<div class="col12">
    <img src="../img/KBSepia2.jpg" width="100%"></img>
</div>

<div class="container">
    <div class="col-md-12 space50"></div>
    <h1>Code Projects</h1>
    <h4><a href="/gearbox.html">Gearbox <</a></h4>
    <h4><a href="/whiteboard.html">The Whiteboard</a></h4>
    <h4><a href="/the_projects.html">The Projects</a></h4>
    <h4><a href="https://github.com/chaseterzian/">More</a></h4>


    <div class='container'>  
        <div class="col-md-12 container padtop50">
            <hr class="section-heading-spacer2">
            <div class="clearfix"></div>
            <h2 class="section-heading white"><a href="http://gearbox-11beta.herokuapp.com/">Gearbox:</a></h2>
            <div class="lead white">Use your smartphone as a blackbox for any vehicle.  Wheather you're looking to improve your racing skills, test the quality of a roadway, or anything in-between, <a href="http://gearbox-11beta.herokuapp.com/">Gearbox</a> is a fun and accurate way to analyze your vehicles every move.  View and manipulate the data in a number of useful ways, customize and dynamically print reports of the behavior of your vehicle, even upload a video for reference.</div>
            <div class="lead white">Data options include location, time, speed, orientation, noise level, light sensor, XYZ accelerometer, and much more.  
            </div>
            <div class="lead white">Want to skip the complicated stuff and go strait for a demo? Once you enter the site, you will see a button on the left that says "Demo All Data".  This will allow you to see the program run with a preloaded set of data without having to enter setup parameters yourself.  
            </div>
            <img class="img-responsive" src="img/Gearbox-Testing.jpg" alt=""></img>
        </div>
    </div>

</div>


