<div class="container menu-code">

    <h1>Code Projects</h1>

    <div class="code-projects-list">
        <a class="code-projects-tab-active" href="/gearbox">
            <button>Gearbox</button>
        </a>
        <a href="/headsweats">
            <button>Headsweats</button>
        </a>
        <a href="/whiteboard">
            <button>The Whiteboard</button>
        </a>
        <a href="/theprojects">
            <button>The Projects</button>
        </a>
        <a href="https://github.com/chaseterzian/">
            <button>More</button>
        </a>
    </div>

    <hr />

    <h2 class="subsection-title"><a href="http://gearbox-11beta.herokuapp.com/" target="_blank">Gearbox:</a></h2>

    <p>Desktop/Node-Express/Rails</p>

    <p>Use your smartphone as a blackbox for any vehicle.  Wheather you're looking to improve your racing skills, test the quality of a roadway, or anything in-between, <a href="http://gearbox-11beta.herokuapp.com/" target="_blank">Gearbox</a> is a fun and accurate way to analyze your vehicles every move.  View and manipulate the data in a number of useful ways, customize and dynamically print reports of the behavior of your vehicle, even upload a video for reference.</p>

    <p>Data options include location, time, speed, orientation, noise level, light sensor, XYZ accelerometer, and much more. </p>

    <p>Want to skip the complicated stuff and go strait for a demo? Once you enter the site, you will see a button on the left that says "Demo All Data".  This will allow you to see the program run with a preloaded set of data without having to enter setup parameters yourself.</p>
    
    <div class="col-md-4">
        <img src="assets/Gearbox1.jpg" alt="Gearbox Landing Image" title="Gearbox Landing Image" />
    </div>
    <div class="col-md-4">
        <img src="assets/Gearbox2.jpg" alt="Gearbox Testing Zone Main Image" title="Gearbox Testing Zone Main Image" />
    </div>
    <div class="col-md-4">
        <img src="assets/Gearbox3.jpg" alt="Gearbox Testing Zone Report Image" title="Gearbox Testing Zone Report Image" />
    </div>
    

</div>


