<div class="container">

    <h1>Code Projects</h1>

    <h4><a href="/gearbox">Gearbox</a></h4>
    <h4><a href="/whiteboard">The Whiteboard</a></h4>
    <h4><a href="/theprojects">The Projects <</a></h4>
    <h4><a href="https://github.com/chaseterzian/">More</a></h4>

    <hr />

    <h2><a href="https://the-projects-rails.herokuapp.com/">The Projects:</a></h2>

    <p>Team project planning and task creation application.  Enhanced with security features and various levels of user permissions.  Come to <a href="https://the-projects-rails.herokuapp.com/">The Projects</a>, where planning is made easy.</p>
    
    <img src="img/The-Projects-Welcome.jpg" title="" alt="" />

</div>