<div class="col12">
    <img src="../img/KBSepia2.jpg" width="100%"></img>
</div>

<div class="container">
    <div class="col-md-12 space50"></div>
    <h1>Code Projects</h1>
    <h4><a href="/gearbox.html">Gearbox</a></h4>
    <h4><a href="/whiteboard.html">The Whiteboard</a></h4>
    <h4><a href="/the_projects.html">The Projects <</a></h4>
    <h4><a href="https://github.com/chaseterzian/">More</a></h4>


    <div class="container">        
        <div class="col-md-12 container padtop50">
            <hr class="section-heading-spacer2">
            <div class="clearfix"></div>
            <h2 class="section-heading white"><a href="https://the-projects-rails.herokuapp.com/">The Projects:</a></h2>
            <div class="lead white">Team project planning and task creation application.  Enhanced with security features and various levels of user permissions.  Come to <a href="https://the-projects-rails.herokuapp.com/">The Projects</a>, where planning is made easy.</div>
            <img class="img-responsive" src="img/The-Projects-Welcome.jpg" alt="" width="100%">
        </div>
    </div>
    <!-- <iframe src="https://the-projects-rails.herokuapp.com/" width="100%" height="800px"></iframe> -->

    <div class="col-md-12 space50"></div>
</div>


