<div class="container menu-code">

    <h1>Code Projects</h1>

    <div class="code-projects-list">
        <h4><a href="/gearbox">Gearbox</a></h4>
        <h4><a href="/whiteboard">The Whiteboard <</a></h4>
        <h4><a href="/theprojects">The Projects</a></h4>
        <h4><a href="https://github.com/chaseterzian/">More</a></h4>
    </div>

    <hr />

    <h2 class="subsection-title"><a href="https://whiteboard-rails.herokuapp.com/">The Whiteboard:</a></h2>

    <p>See, hear and work with your peers in this online project environment featuring video chat capability and real-time updating project creation tools.  If your organization is not listed on <a href="https://whiteboard-rails.herokuapp.com/">Whiteboard</a>, please use the guest account, or contact me to add you to the family!</p>

    <p>(guest account 'scratchpadder' login: 'user')</p>
    
    <img src="img/Whiteboard-Landing.jpg" title="" alt="" />

</div>