<div class="col12">
    <img src="../img/KBSepia2.jpg" width="100%"></img>
</div>

<div class="container">
    <div class="col-md-12 space50"></div>
    <h1>Code Projects</h1>
    <h4><a href="/gearbox.html">Gearbox</a></h4>
    <h4><a href="/whiteboard.html">The Whiteboard <</a></h4>
    <h4><a href="/the_projects.html">The Projects</a></h4>
    <h4><a href="https://github.com/chaseterzian/">More</a></h4>


    <div class="container">
        <div class="col-md-12 container padtop50">
            <hr class="section-heading-spacer2">
            <div class="clearfix"></div>
            <h2 class="section-heading white"><a href="https://whiteboard-rails.herokuapp.com/">The Whiteboard:</a></h2>
            <div class="lead white">See, hear and work with your peers in this online project environment featuring video chat capability and real-time updating project creation tools.  If your organization is not listed on <a href="https://whiteboard-rails.herokuapp.com/">Whiteboard</a>, please use the guest account, or contact me to add you to the family!</div>
            <div class="lead white">(guest account 'scratchpadder' login: 'user')</div>
            <img class="img-responsive" src="img/Whiteboard-Landing.jpg" alt="">
        </div>
    </div>

</div>

