<div class="container menu-code">

    <h1>Code Projects</h1>

    <div class="code-projects-list">
        <a href="/gearbox">
            <button>Gearbox</button>
        </a>
        <a href="/headsweats">
            <button>Headsweats</button>
        </a>
        <a class="code-projects-tab-active" href="/whiteboard">
            <button>The Whiteboard</button>
        </a>
        <a href="/theprojects">
            <button>The Projects</button>
        </a>
        <a href="https://github.com/chaseterzian/">
            <button>More</button>
        </a>
    </div>

    <hr />

    <h2 class="subsection-title"><a href="https://whiteboard-rails.herokuapp.com/" target="_blank">The Whiteboard:</a></h2>

    <p>(Rails)</p>

    <p>See, hear and work with your peers in this online project environment featuring video chat capability and real-time updating project creation tools.  If your organization is not listed on <a href="https://whiteboard-rails.herokuapp.com/" target="_blank">Whiteboard</a>, please use the guest account, or contact me to add you to the family!</p>

    <p>(guest account 'scratchpadder' login: 'user')</p>
    
    <div class="col-md-12">
        <img src="assets/Whiteboard-Landing.jpg" title="" alt="" />
    </div>

</div>