<div class="col12">
    <img src="../img/KBSepia2.jpg" width="100%"></img>
</div>

<div class="container">
  <div class="col-md-12 space50"></div>
  <h1>Contact</h1>

  <div class="clearfix space10"></div>
  <div>Chase Terzian</div>
  <div><a href="mailto:chaseterzian@gmail.com">chaseterzian@gmail.com</a></div>
  <div>301.602.0428</div>

  <div class='container padtop50'>
      <hr class="section-heading-spacer2">
  </div>

</div>


