<!DOCTYPE html>
<html>
<head>
	<title>Chase Terzian</title>
	<%= csrf_meta_tags %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Roboto:400,300,500,700,100' rel='stylesheet' type='text/css'>
	<script src="https://use.fontawesome.com/9a42c95abc.js"></script>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="body-main">

	<nav class="main-mavbar">
		
		<a href="/home">
			<p>Home</p>
		</a>
		<a href="/code">
			<p>Code Projects</p>
		</a>
		<a href="/music">
			<p>Music</p>
		</a>
		<a href="/media">
			<p>Media</p>
		</a>
		<a href="/contact">
			<p>Contact</p>
		</a>
	</nav>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main-header-image" />

	<hr />

	<%= yield %>

	<footer>
		<a href="/code">
			<p>Code Projects</p>
		</a>
		<a href="/music">
			<p>Music</p>
		</a>
		<a href="/media">
			<p>Media</p>
		</a>
		<a href="/contact">
			<p>Contact</p>
		</a>
	</footer>

</body>
</html>
