<div class="category-header-text-wrapper"><img title="Headsweats 2017 Ambassadors" src="https://www.headsweats.com/product_images/uploaded_images/Header_Ambassador_3.jpg" alt="Headsweats 2017 Ambassadors" />
  <h1 class="heading-banner-text-white remove-below-480">%%GLOBAL_PageTitle%%</h1>
</div>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSf0TQQcQsmXhoiLxaNjQxujxPo_udfhnETKXtpe5SX0qhGFhQ/viewform"><button id="become-ambassador-btn">CLICK HERE TO BECOME A HS AMBASSADOR | APPLICATIONS CLOSE NOV 30, 2017</button></a>

<div class="container" style="padding-top: 0;">
  <h1 class="h1-mobile-text">%%GLOBAL_PageTitle%%</h1>
  <hr />
  <div class="CategoryDescription">&nbsp;</div>
  <div class="OurAmbassadorGrid">
    <ul class="clearfix">
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Dan_Nestor.jpg" alt="2017 Headsweats Ambassador Dan Nestor" border="0" /></a>
        <div class="black-name-bar-lower-small">Dan Nestor</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#andy-cohen-wray-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Andy_Cohen-Wray.jpg" alt="2017 Headsweats Ambassador Andy Cohen-Wray" border="0" /></a>
        <div class="black-name-bar-lower-small">Andy Cohen-Wray</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#angela-gillis-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Angela%20Gillis.jpg" alt="2017 Headsweats Ambassador Angela Gillis" border="0" /></a>
        <div class="black-name-bar-lower-small">Angela Gillis</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#brian-cronin-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Brian-Cronin.jpg" alt="2017 Headsweats Ambassador Brian Cronin" border="0" /></a>
        <div class="black-name-bar-lower-small">Brian Cronin</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#charles-fox-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Charles_Fox.jpg" alt="2017 Headsweats Ambassador Charles Fox" border="0" /></a>
        <div class="black-name-bar-lower-small">Charles Fox</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#danielle-cemprola-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Danielle_Cemprola.jpg" alt="2017 Headsweats Ambassador Danielle Cemprola" border="0" /></a>
        <div class="black-name-bar-lower-small">Danielle Cemprola</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#jeff-stein-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Jeff_Stein.jpg" alt="2017 Headsweats Ambassador Jeff Stein" border="0" /></a>
        <div class="black-name-bar-lower-small">Jeff Stein</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#jennifer-boudreau-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Jennifer_Boudreau.jpg" alt="2017 Headsweats Ambassador Jennifer Boudreau" border="0" /></a>
        <div class="black-name-bar-lower-small">Jennifer Boudreau</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#jessica-rinehart-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Jessica_Rinehart.jpg" alt="2017 Headsweats Ambassador Jessica Rinehart" border="0" /></a>
        <div class="black-name-bar-lower-small">Jessica Rinehart</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#jill-schumaker-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Jill_Schumaker.jpg" alt="2017 Headsweats Ambassador Jill Schumaker" border="0" /></a>
        <div class="black-name-bar-lower-small">Jill Schumaker</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#joe-dean-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Joe_Dean.jpg" alt="2017 Headsweats Ambassador Joe Dean" border="0" /></a>
        <div class="black-name-bar-lower-small">Joe Dean</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#joe-rainone-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Joe_Rainone.jpg" alt="2017 Headsweats Ambassador Joe Rainone" border="0" /></a>
        <div class="black-name-bar-lower-small">Joe Rainone</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#josephine-hoffman-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Josephine_Hoffman.jpg" alt="2017 Headsweats Ambassador Josephine Hoffman" border="0" /></a>
        <div class="black-name-bar-lower-small">Josephine Hoffman</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#linda-maily-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Linda_Maily.jpg" alt="2017 Headsweats Ambassador Linda Maily" border="0" /></a>
        <div class="black-name-bar-lower-small">Linda Maily</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#lindsey-dillon-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Lindsey_Dillon.jpg" alt="2017 Headsweats Ambassador Lindsey Dillon" border="0" /></a>
        <div class="black-name-bar-lower-small">Lindsey Dillon</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#lyndy-davis-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Lyndy_Davis.jpg" alt="2017 Headsweats Ambassador Lyndy Davis" border="0" /></a>
        <div class="black-name-bar-lower-small">Lyndy Davis</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#matthew-johnson-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Matthew_Johnson.jpg" alt="2017 Headsweats Ambassador Matthew Johnson" border="0" /></a>
        <div class="black-name-bar-lower-small">Matthew Johnson</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#nadia-ruiz-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Nadia_Ruiz.jpg" alt="2017 Headsweats Ambassador Nadia Ruiz" border="0" /></a>
        <div class="black-name-bar-lower-small">Nadia Ruiz</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#nunzia-lopez-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Nunzia_Lopez.jpg" alt="2017 Headsweats Ambassador Nunzia Lopez" border="0" /></a>
        <div class="black-name-bar-lower-small">Nunzia Lopez</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#paige-kinucan-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Paige_Kinucan.jpg" alt="2017 Headsweats Ambassador Paige Kinucan" border="0" /></a>
        <div class="black-name-bar-lower-small">Paige Kinucan</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#peter-burrill-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Peter_Burrill.jpg" alt="2017 Headsweats Ambassador Peter Burrill" border="0" /></a>
        <div class="black-name-bar-lower-small">Peter Burrill</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#ricky-roane-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Ricky_Roane.jpg" alt="2017 Headsweats Ambassador Ricky Roane" border="0" /></a>
        <div class="black-name-bar-lower-small">Ricky Roane</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#ryan-delany-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Ryan_Delany.jpg" alt="2017 Headsweats Ambassador Ryan Delany" border="0" /></a>
        <div class="black-name-bar-lower-small">Ryan Delany</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#scott-wesemann-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Scott_Wesemann.jpg" alt="2017 Headsweats Ambassador Scott Wesemann" border="0" /></a>
        <div class="black-name-bar-lower-small">Scott Wesemann</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#smitha-arons-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Smitha_Arons.jpg" alt="2017 Headsweats Ambassador Smitha Arons" border="0" /></a>
        <div class="black-name-bar-lower-small">Smitha Arons</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#stephanie-franklin-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Stephanie_Franklin.jpg" alt="2017 Headsweats Ambassador Stephanie Franklin" border="0" /></a>
        <div class="black-name-bar-lower-small">Stephanie Franklin</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#stuart-barrington-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Stuart_Barrington.jpg" alt="2017 Headsweats Ambassador Stuart Barrington" border="0" /></a>
        <div class="black-name-bar-lower-small">Stuart Barrington</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#susan-schenberg-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Susan_Schenberg.jpg" alt="2017 Headsweats Ambassador Susan Schenberg" border="0" /></a>
        <div class="black-name-bar-lower-small">Susan Schenberg</div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a href="https://www.headsweats.com/ambassador-bios#tara-summers-anchor"> <img src="https://www.headsweats.com/template/img/2017Ambassadors/Tara_Summers.jpg" alt="2017 Headsweats Ambassador Tara Summers" border="0" /></a>
        <div class="black-name-bar-lower-small">Tara Summers</div>
      </li>
    </ul>
    <hr />
    <h1>Our Ambassadors</h1>
    <p style="text-align: justify;">Headsweats' Ambassadors are a part of our extended family. They have a passion for what they do and a love for Headsweats, of course. Click on any of our Ambassadors' pictures below to learn more about who they are, what they do, and what makes them special.</p>
  </div>
  <!--ourambassadorgrid--></div>
  <!--container-->
  <p>a</p>